<h4>商品新規登録</h4>
<%= form_with model: @item, url: admin_items_path, local: true do |f| %>
  <%= f.label :name, "商品画像" %>
  <%= f.file_field :image_id, accept: "image/*" %><br>
  
  <%= f.label :name, "商品名" %>
  <%= f.text_field :name %><br>
  
  <%= f.label :name, "商品説明" %>
  <%= f.text_area :introduction %><br>
  
  <%= f.label :genre_id, "ジャンル" %>
  <%= f.select :genre_id, [['ケーキ',1], ['キャンディ',2]] %><br>
  
  <%= f.label :name, "税込価格" %>
  <%= f.text_field :price %>円<br>
  
  <%= f.label :name, "販売ステータス" %>
  <%= %>
  
  
<% end %>
