<h4>商品新規登録</h4>
<%= form_with model: @item, url: admin_items_path, local: true do |f| %>
  <%= f.label :name, "商品画像" %>
  <%= f.file_field :image_id, accept: "image/*" %>
  
  <%= %>
  <%= %>
  
  <%= %>
  <%= %>
  
  <%= %>
  <%= %>
  
  <%= %>
  <%= %>
  
  
<% end %>
