<div class="container">
  
  <%= image_tag "cakes-gcb44a637d_1920.jpg", alt: "cake1", :size => "1000x450" %>
  <h2 class="text-center">
    ようこそながのCAKEへ!<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </h2>
  <h2>新着商品</h2>
  <div class="row">
    <% @items.each do |item| %>
      <div class="card text-center">
        <% if item.image.attached? %>
          <%= image_tag item.image, size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
        <br>
        <h7><%= item.name %></h7>
        <p>¥<%= item.price %></p>
      </div>
    <% end %>
  </div>
</div>