<div class="container">
  <h4 class="my-5">ジャンル一覧・追加</h4>
  <div class="row">
    <div class="mx-auto">
      <%= form_with model: @genre, url: admin_genres_path, method: :post, local:true do |f| %>
      <%= f.label :name, "ジャンル名" %>
      <%= f.text_field :name, id: "form" %>
      <%= f.submit '新規登録', class: "btn btn-success" %>
      <% end %>
      <table class="genre">
        <thead>
          <th>ジャンル</th>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <th><%= genre.name %></th>
            <th><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success" %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
